@import 'nib'

color-white = rgba(255,255,255,1)
color-black = rgba(0,0,0,1)
bg-login = url('../../images/img_bgdesktop.jpg')

@font-face
  font-family: 'Shrikhand';
  src: url('../../fonts/Shrikhand-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../../fonts/Shrikhand-Regular.ttf') format('truetype')

@keyframes welcome-star {
	from {
		transform rotate(-360deg) scale(1.3)
	}
	to {
		transform rotate(0deg) scale(1)
	}
}
@keyframes welcome-right {
	from {
		transform translateX(120px)
	}
	to {
		transform translateX(0px)
	}
}

@keyframes welcome-left {
	from {
		transform translateX(-120px)
	}
	to {
		transform translateX(0px)
	}
}

html, body
	font-size 14px
	box-sizing border-box

html 
	body
		.layer_bg
			transition 1s all ease-in-out
			position fixed
			left 0px
			top 0px
			width 100%
			height 100%
			z-index -3
			.layer-foreground,
			.layer-background,
			.layer-background-reverse
				transition all 1s ease-in-out
				position absolute
				top 0px
				left 0px
				width 100%
				height 100%
			.layer-background-reverse
				transform rotate(180deg)
				opacity 0
				
			.layer-foreground
				background-color rgba(0,0,0,1)
				opacity 0.4
			.layer-background,
			.layer-background-reverse
				padding 0px
				margin 0px
				z-index -2
				img
					width 100%
					height 100%

		section#container-user
			&.layer-authentication
				transition 0.5s all ease-in-out
				width 35%
				height auto
				border 1px solid black
				margin 10% auto
				box-shadow 1px 1px 1px 1px rgba(229,229,229,.6)
				background-color rgba(0,0,0,0.7)
				border-radius 5px
				.authentication-top,
				.authentication-middle,
				.authentication-bottom
					width 100%
					padding-left 2rem
					padding-right 2rem
					padding-bottom 1rem
					padding-top 1rem
					.row
						button
							label
								margin-bottom 0
								&:hover
									cursor pointer
								
							.login-loader
								margin 0.2rem auto
								img
									text-align center
									height auto
									width 35px
									height 2rem
					
				.authentication-top
					height auto
					padding-bottom 0
					text-align center
					label, i
						color color-white
						font-size 2.5rem
						line-height 2.5rem
						margin-bottom 0.5rem
						margin-top 2rem
					label
						font-family 'Shrikhand',cursive
						transition 0.7s all ease-in-out
						&.left
							transform translateX(-120px)
							animation-name welcome-left
						&.right
							transform translateX(120px)
							animation-name welcome-right
						&.left,
						&.right
							animation-duration 0.8s
							animation-iteration-count 1
							animation-direction normal
							animation-delay 0.2s
							animation-timing-function linear
							animation-fill-mode forwards
					i
						transition 0.7s all ease-in-out
						animation-duration 0.8s
						animation-name welcome-star
						animation-direction normal
						animation-delay 0.2s
						animation-timing-function linear
						animation-fill-mode forwards	
						&:hover
							transform rotate(360deg) scale(1.2)
							
							
						
				.authentication-middle
					padding-bottom 0
					.row
						div[class^="col-"]
							padding 0
							.form-group
								border-radius 5px
								padding 0.3rem
								margin-bottom 0.5rem
								border 1px solid black
								background-color rgba(0,0,0,0.9)
								overflow hidden
								i, input
									display inline
								i
									width 10%
									float left
									text-align center
									line-height 2.2rem
									color rgba(255,255,255,1)
								input
									width 90%
									float right
									background-color rgba(0,0,0,0.9)
									border 0
									color color-white

			
		
.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.2rem
	margin-bottom 0.1rem


@media screen and (max-width: 1200px)
	html
		body
			.layer_bg
				width 1200px
				.layer-background
					opacity 0
				.layer-background-reverse
					opacity 100%
				
			section#container-user
				&.layer-authentication
					width 45%
					
@media screen and (max-width: 980px)
	html
		body
			.layer_bg
				width 1100px
				.layer-background
					opacity 100%
				.layer-background-reverse
					opacity 0
					
			section#container-user
				&.layer-authentication
					width 60%
					
@media screen and (max-width: 640px)
	html
		body
			.layer_bg
				.layer-background
					opacity 0
				.layer-background-reverse
					opacity 100%
				
			section#container-user
				&.layer-authentication
					width 80% !important


			

		