@import 'nib'

color-white = rgba(255,255,255,1)

.body-container
	padding 0px 10px !important

.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold
	
.layerFields,
.layerButtons
	border 1px solid silver
	background-color color-white

.layerButtons
	margin-top 5px
	margin-bottom 5px
	.row
		padding 1rem 2rem
		.form-row
			margin-bottom 0
			width 100%
			div[class*="col-"]
				transition 1s all ease-in-out
				button
					i
						font-size 1.5rem
				img
					text-align center
					height auto
					width 37px
	
.layerFields
	.row
		padding 1rem
				
.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.1rem
	margin-bottom 0.1rem

@media screen and (max-width: 640px)
	.layerButtons
		.row
			.form-row
				div[class*="col-"]
					padding-top 1rem
					text-align center				
// @media screen and (max-width: 980px)