<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>ID Usuario</th>
			<th>Nombres</th>
			<th>DNI</th>
			<th>Email</th>
			<th>Estado</th>
			<th>Fh. Ingreso</th>
			<th>Usuario</th>
			<th>Fh. Modif.</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in lst_items">
			<td>
				<button type="button" 
					@click.remove="handleRemove(item)"
					class="btn btn-danger"
					title="Eliminar">
					<i class="fas fa-minus-circle"></i>
				</button>
				<button type="button" 
					@click.remove="handleModify(item)"
					class="btn btn-info"
					title="Modificar">
					<i class="fas fa-pen-square"></i>
				</button>
				{% comment %}
					<button type="button" 
						@click.remove="handleExcelReport(item)"
						class="btn btn-success"
						title="Exportar Informe">
						<i class="fas fa-file-excel"></i>
					</button>
				{% endcomment %}
			</td>
			<td v-text="item.id"></td>
			<td>${item.username}</td>
			<td>${item.fullname}</td>
			<td>${item.userextension?item.userextension.dni:''}</td>
			<td>${item.email}</td>
			<td>${item.is_active?'ACTIVO':'NO ACTIVO'}</td>
			<td>
				${item.date_joined| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
	</tbody>
</table>