<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Fh.Registro</th>
			<th>Descripci&oacuten</th>
			<th>Estado</th>
			<th>Fh.Modif</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in lst_items">
			<td>
				<button type="button" 
					@click.remove="handleRemove(item)"
					class="btn btn-danger"
					title="Eliminar">
					<i class="fas fa-minus-circle"></i>
				</button>
				<button type="button" 
					@click.remove="handleModify(item)"
					class="btn btn-info"
					title="Modificar">
					<i class="fas fa-pen-square"></i>
				</button>
				{% comment %}
					@click.remove="handleExcelReport(item)"
					class="btn btn-success"
					title="Exportar Informe">
					<i class="fas fa-file-excel"></i>
				{% endcomment %}
			</td>
			<td v-text="item.id"></td>
			<td > 
				${item.groupextension?item.groupextension.fhregistro:null |format("DD/MM/Y HH:MM:ss")} </td>
			<td > ${item.name}</td>
			<td > 
				${item.groupextension?(item.groupextension.is_active==1?'ACTIVO':'NO ACTIVO'):'NO ACTIVO'}
			</td>
			<td > ${item.groupextension?item.groupextension.fhmodificacion:null |format("DD/MM/Y HH:MM:ss") } </td>
		</tr>
	</tbody>
</table>