<el-dialog
	title="Registro de Clientes"
	:visible.sync="dialog_status"
	
	:before-close="handleCloseDialog">
	<section>
		<form name="frm-catalogo-clientes">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
		  			<div class="form-group">
						<label for="" class="form-label">
							Nombre :
						</label>
						<input type="text" 
							name="razon_social"
							v-model="razon_social"
							class="form-control form-control-sm"
							autocomplete="off" 
							placeholder="Ingrese Razón Social"
							:readonly="show_all?true:false"
							>
						<div v-if="hasError('razon_social')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
					</div>	
		  		</div>
		  		<div class="col-12 col-sm-6 col-md-4 col-lg-4"
		  			v-show="!show_all">
		  			<div class="form-group">
						<label for="" class="form-label">
							Dirección
						</label>
						<textarea
							name="direccion"
							v-model="direccion"
							class="form-control form-control-sm"
							autocomplete="off"
							rows="1"
							placeholder="Ingrese dirección"
							>
						</textarea>
						<div v-if="hasError('direccion')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
					</div>	
		  		</div>
		  		
				<div class="col-12 col-sm-6 col-md-4 col-lg-4"
					v-show="!show_all">
					<div class="form-group">
						<label for="" class="form-label">
							T.Documento :
						</label>
						<el-select 
							size="small"
							v-model="tdoc" 
							placeholder="Seleccione T.Documento"
							filterable
							clearable
							name="tdoc"
							>
						    <el-option
						      v-for="item in list.list_tdocumentos"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('tdoc')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
					</div>	
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4"
					v-show="!show_all">
		  			<div class="form-group">
						<label for="" class="form-label">
							Ciudad :
						</label>
						<input type="text" 
							name="ciudad"
							v-model="ciudad"
							class="form-control form-control-sm"
							autocomplete="off"
							placeholder="Ingrese Ciudad" 
							
							>
						<div v-if="hasError('ciudad')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
					</div>	
		  		</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4"
					v-show="!show_all">
					<div class="form-group">
						<label for="" class="form-label">
							Pais :
						</label>
						<el-select 
							size="small"
							v-model="pais" 
							placeholder="Seleccione Pais"
							filterable
							clearable
							name="pais"
							
							>
						    <el-option
						      v-for="item in list.list_paises"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('pais')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
					</div>	
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4"
					v-show="!show_all">
		  			<div class="form-group">
						<label for="" class="form-label">
							Nro. Documento :
						</label>
						<input type="text" 
							name="ndoc"
							v-model="ndoc"
							class="form-control form-control-sm"
							autocomplete="off"
							placeholder="Ingrese Nro. Documento" 
							>
						<div v-if="hasError('ndoc')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
					</div>	
		  		</div>
			  	<div class="col-12 col-sm-6 col-md-4 col-lg-4"
			  		v-show="!show_all">
		  			<div class="form-group">
						<label for="" class="form-label">
							Telefono :
						</label>
						<input type="text" 
							name="telefono"
							v-model="telefono"
							class="form-control form-control-sm"
							autocomplete="off" 
							placeholder="Ingrese Nro.Teléfono" 
							@blur="handleBlur"
							>
						<div v-if="hasError('telefono')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
					</div>	
		  		</div>
		  		<div class="col-12 col-sm-6 col-md-4 col-lg-4"
		  			v-show="!show_all">
		  			<div class="form-group">
						<label for="" class="form-label">
							Celular :
						</label>
						<input type="text" 
							name="celular"
							v-model="celular"
							class="form-control form-control-sm"
							autocomplete="off" 
							placeholder="Ingrese Nro.Celular" 
							>
					</div>	
		  		</div>
		  		<div class="col-12 col-sm-6 col-md-4 col-lg-4"
		  			v-show="!show_all">
		  			<div class="form-group">
						<label for="" class="form-label">
							Email :
						</label>
						<input type="text" 
							name="email"
							v-model="email"
							class="form-control form-control-sm"
							autocomplete="off" 
							placeholder="Ingrese email" 
							>
					</div>	
		  		</div>
		  		<div class="col-12 col-sm-6 col-md-4 col-lg-4"
		  			v-show="!show_all">
		  			<div class="form-group">
						<label for="" class="form-label">
							Contacto :
						</label>
						<input type="text" 
							name="contacto"
							v-model="contacto"
							class="form-control form-control-sm"
							autocomplete="off"
							placeholder="Ingrese Contacto" 
							>
					</div>	
		  		</div>
		  		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
		  			<div class="form-group">
						<label for="" class="form-label">
							Observaciones :
						</label>
						<textarea
							name="observaciones"
							v-model="observaciones"
							class="form-control form-control-sm"
							autocomplete="off"
							rows="1"
							placeholder="Ingrese observaciones" 
							>
						</textarea>
					</div>	
		  		</div>
		  		<div class="col-12 col-sm-12 col-md-6 col-lg-4"
		  			v-show="!show_all">
					<div class="form-group">
						<label for="" class="form-label">
							Estado :
						</label>
						<el-select 
							size="small"
							v-model="estado" 
							placeholder="Seleccione"
							filterable
							clearable
							name="estado"
							@blur="handleBlur"
							>
						    <el-option
						      v-for="item in list.list_estados"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						<div v-if="hasError('estado')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
					</div>	
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-4"
					v-show="!show_all" >
					<div class="form-group">
						<label for="" class="form-label">
							Contactado por :
						</label>
						<el-select 
							size="small"
							v-model="contactado" 
							placeholder="Seleccione"
							filterable
							clearable
							name="contactado"
							
							>
						    <el-option
						      v-for="item in list.list_contactado"
						      :key="item.id"
						      :label="item.value"
						      :value="item.id">
						    </el-option>
						</el-select>
						
					</div>	
				</div>
			</div>
		</form>
	</section>
	
	<span slot="footer" class="dialog-footer">
	<el-button @click.prevent="handleCloseDialog">
		Cancelar
	</el-button>
	<el-button type="primary" @click.prevent="handleSaveCustomer">
		Guardar
	</el-button>
	</span>
</el-dialog>