
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/js/unpkg.com/element-ui@2.4.2/lib/theme-chalk/index.css' %}">
	 <link rel="stylesheet" href="{% static '/css/login/login_additional.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<form>
				<div class="layerFields">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-4">
							<div class="form-group">
								<label class="form-label">Nombres:</label>	
								<input class="form-control" 
								type="text" 
								name="firstname"
								autocomplete="off"
								v-model="firstname"
								@blur="handleBlur">
								<div v-if="hasError('firstname')"
							    	class="alert alert-danger" 
							    	role="alert">
							    	Completar el campo
							    </div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4">
							<div class="form-group">
								<label class="form-label">Apellidos:</label>	
								<input class="form-control" 
								type="text" 
								name="lastname"
								autocomplete="off"
								v-model="lastname"
								@blur="handleBlur">
								<div v-if="hasError('lastname')"
							    	class="alert alert-danger" 
							    	role="alert">
							    	Completar el campo
							    </div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4">
							<div class="form-group">
								<label class="form-label">Email:</label>	
								<input 
								class="form-control" 
								type="email" 
								name="email"
								v-model="email"
								autocomplete="off"
								@blur="handleBlur">
								<div v-if="hasError('email')"
							    	class="alert alert-danger" 
							    	role="alert">
							    	Completar el campo
							    </div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group">
								<label class="form-label">Clave de confirmaci&oacuten:</label>	
								<input 
								class="form-control" 
								type="password" 
								name="passwd"
								v-model="passwd"
								autocomplete="current-password"
								@blur="handleBlur">
								<div v-if="hasError('passwd')"
							    	class="alert alert-danger" 
							    	role="alert">
							    	Completar el campo
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="layerButtons">
					<div class="row">
						<div class="form-row">
							<div class="col-12 col-sm-6 col-md-4 col-lg-2">
								<button class="btn btn-success btn-block" 
									@click.prevent="handleUpdateInformation"
									:disabled="handleDisabled">
									<i class="far fa-save"></i>
									Guardar Cambios
								</button>
							</div>
							<div class="col-12 col-sm-6 col-md-4 col-lg-2" v-if="loading">
								<img src="{% static 'images/img_loader.gif' %}">
							</div>
						</div>

					</div>
				</div>
			</form>
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/index.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/umd/locale/es.js' %}"></script>
	<script type="text/javascript">
		ELEMENT.locale(ELEMENT.lang.es)
		axios.defaults.headers.common = {
		    'X-Requested-With': 'XMLHttpRequest',
		    'X-CSRFToken' : document.getElementsByName("csrfmiddlewaretoken")[0].value,
		};
		const axiosPostHeaders = {
			'Content-Type': 'application/x-www-form-urlencoded',
		} ;
		const URI_HOME = window.location.pathname ;
		{% if request.user %}
			const udefault = {{request.user.id}};
		{%else%}
			const udefault = null;
		{%endif%}
	</script>
	<script src="{% static '/js/login_additional.js' %}"></script>
{% endblock %}