
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/css/login/login_forbidden.css' %}">
{% endblock %}

{% block container %}
	<div class="row layerHeader">
		<h2>403 {{title|upper}} </h3>
		<i class="fas fa-ban"></i>
	</div>
	<div class="row layerBody">
		<article>
			<h3>¡Acceso prohibido!</h2>
			<p>
				Usted no tiene permiso para accesar a la dirección solicitada. Existe la posibilidad de que el directorio este protegido contra lectura o que no exista la documentación requerida. 

				Por favor contacte con el webmaster en caso de que usted crea que existe un error en el servidor. 
			</p>
		</article>
	</div>
	<footer>
		<span>Copyright © 2018 - {% now 'Y' %} WRC. All rights reserved</span>
	</footer>
{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/login_forbidden.js' %}"></script>
{% endblock %}