{% extends 'interface/base.html' %}
{% load static %}

{% block main %}
	<section class="layer-authentication" id="container-user">
		<div class="authentication-top">
			<label for="" class="left">
				True
			</label>
			<i class="fas fa-star"></i>
			<label for="" class="right">
				Star 
			</label>
		</div>
		<div class="authentication-middle">
			<div class="row">
				<div class="col-md-12">
				   <div class="form-group">
					   	<i class="fas fa-user"></i>
					    <input 
					    	@keyup="handleKeyup"
					    	v-model="form.username"
					    	type="text" class="form-control" 
					    	name="username" 
					    	placeholder="Enter Username" 
					    	autocomplete="off"
					    	required="true">
					    {% comment %}
					    <div v-if="hasError('username')"
					    	class="alert alert-danger" 
					    	role="alert">Completar nombre de usuario</div>
					    {% endcomment %}
					    
				   </div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<i class="fas fa-key"></i>
						<input 
							@keyup="handleKeyup"
							v-model="form.passwd"
							type="password" 
							class="form-control" 
							name="passwd" 
							placeholder="Enter Password"
							autocomplete="off"
							required="true"
							@keyup.enter="handleClick"
							>
						{% comment %}
						
						<div v-if="hasError('passwd')"
					    	class="alert alert-danger" 
					    	role="alert">Completar clave de acceso</div>
					    {% endcomment %}
					</div>
				</div>
			</div>
		</div>
		<div class="authentication-bottom">
			<div class="row">
				<button 
					@click.prevent="handleClick"
					class="btn btn-danger btn-log btn-block">
					<label for="" v-if="!loading">
						Ingresar
					</label>
					<div class="login-loader" v-if="loading">
						<img src="{% static 'images/img_loader.gif' %}">
					</div>
				</button>
			</div>
		</div>
	</section>
{% endblock %}