<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Fh. Ingreso</th>
			<th>Nombres</th>
			<th>Nro.Doc.</th>
			<th>Teléfono</th>
			<th></th>
			<th>Usuario</th>
			<th>Fh. Modif.</th>
			<th>Usuario Modif.</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="(item,index) in lst_items">
			<td>
				{% if perms.catalogos.delete_clientes %}
					<button type="button" 
						@click.prevent="handleRemoveCustomer(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
				{%endif%}
				{% if perms.catalogos.change_clientes %}
					<button type="button" 
						@click.prevent="handleModifyCustomer(item)"
						class="btn btn-info btn-sm"
						title="Modificar">
						<i class="fas fa-pen-square"></i>
					</button>
				{%endif%}
			</td>
			<td v-text="item.id">
				${index+1}
			</td>
			<td>
				${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td > 
				${item.razon_social||''}
			</td>
			<td>${item.ndoc||'-'}</td>
			
			<td>${item.telefono||''}</td>
			<td>
				<i class="fas fa-check status-active"
					title="ACTIVO"
					v-if="item.estado.descripcion=='ACTIVO'">
				</i>
				<i class="fas fa-times status-notactive"
					title="NO ACTIVO"
					v-if="item.estado.descripcion!='ACTIVO'"></i>
			</td>
			<td>${item.username||''}</td>
			<td>
				${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td>${item.username_modif||''}</td>
			<td>
				<i class="fas fa-circle traffic-silver"
					v-if="item.leyenda==0" 
					title="Sin ventas"></i>
				<i class="fas fa-circle traffic-green"
					v-if="item.leyenda!=0" 
					title="Con ventas"></i>
			</td>
		</tr>
		<tr v-if="lst_items.length==0">
			<td colspan="11">
				No se encontraron resultados
			</td>
		</tr>
	</tbody>
</table>