<form data-toggle="validator" role="form">
	<div class="form-row">
		<div class="form-group col-12 col-sm-6 col-md-2 col-lg-2">
			<label class="form-label"
				 for="">Nro. Pedido</label>
			<input 
				type="text" 
				class="form-control input-sm"  
				v-model = "invoice"
				name="invoice" 
				>
		</div>
		<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
			<label class="form-label"
				 for=""> Cliente / Nro.Doc / Teléfono </label>
			<input 
				type="text" 
				class="form-control input-sm"  
				v-model = "cliente"
				name="cliente" 
				>
		</div>
		<div class="form-group col-12 col-sm-6 col-md-4 col-lg-2">
			<label class="form-label"
				 for="">Fecha Desde</label>
			<el-date-picker
			      v-model="fecha_desde"
			      type="date"
			      placeholder="Seleccione Fecha"
			      format="dd/MM/yyyy"
				  value-format="yyyy-MM-dd"
				  name="fecha_desde"
				  size="small"
			      >
		    </el-date-picker>
		    <div v-if="hasError('fecha_desde')"
		    	class="alert alert-danger" 
		    	role="alert">Completar el campo</div>
		</div>
		<div class="form-group col-12 col-sm-6 col-md-4 col-lg-2">
			<label class="form-label"
				 for="">Fecha Hasta</label>
			<el-date-picker
			      v-model="fecha_hasta"
			      type="date"
			      placeholder="Seleccione Fecha"
			      format="dd/MM/yyyy"
				  value-format="yyyy-MM-dd"
				  name="fecha_hasta"
				  size="small"
			      >
		    </el-date-picker>
		      <div v-if="hasError('fecha_hasta')"
		    	class="alert alert-danger" 
		    	role="alert">Completar el campo</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group">
				<label for="" class="form-label">
					Leyenda :
				</label>
				<el-select v-model="sub_tipo_invoice" 
					placeholder="Seleccione"
					filterable
					size="small"
					clearable>
				    <el-option
				      v-for="item in list.list_estados"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			</div>	
		</div>
	</div>
	<div class="form-row filter-default">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 pb-1">
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-primary"
					title="Buscar"
					v-on:click="handleSearch">
					<i class="fas fa-search"></i>
					Buscar
				</button>
				<button type="button" class="btn btn-warning"
					title="Limpiar"
					v-on:click="handleCleanFields">
					<i class="fas fa-eraser"></i>
					Limpiar
				</button>
				{% if perms.invoice.add_invoiceparent %}
					<button type="button" class="btn btn-success"
						title="Agregar"
						v-on:click="handleNew">
						<i class="fas fa-plus-circle"></i>
						Agregar
					</button>
				{% endif %}
				{% if perms.invoice.xlsreport_invoiceparent %}
					<button type="button" class="btn btn-info"
						title="Exportar"
						v-on:click="handleExportAll">
						<i class="fas fa-file-excel"></i>
						Exportar
					</button>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row filter-small">
		<div class="col-12 col-sm-4 col-md-4 col-lg-2 pb-1">
			<button class="btn btn-primary btn-sm btn-block" 
				@click.prevent="handleSearch"
				title="Buscar">
				<i class="fas fa-search"></i>
				Buscar
			</button>	
		</div>
		<div class="col-12 col-sm-4 col-md-4 col-lg-2 pb-1">
			<button class="btn btn-warning btn-sm btn-block" 
				@click.prevent="handleCleanFields"
				title="Limpiar">
				<i class="fas fa-eraser"></i>
				Limpiar
			</button>
		</div>
		{% if perms.invoice.add_invoiceparent %}
			<div class="col-12 col-sm-4 col-md-4 col-lg-2 pb-1">
				<button class="btn btn-success btn-sm btn-block" 
						@click.prevent="handleNew"
						title="Agregar">
						<i class="fas fa-plus-circle"></i>
						Agregar
				</button>
			</div>
		{%endif%}
		{% if perms.invoice.xlsreport_invoiceparent %}
			<div class="col-12 col-sm-4 col-md-4 col-lg-2 pb-1"
				v-if="lst_items.length>0">
				<button class="btn btn-info btn-sm btn-block" 
					@click.prevent="handleExportAll"
					title="Exportar">
					<i class="fas fa-file-excel"></i>
					Exportar
				</button>
			</div>
		{%endif%}
	</div>
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 div-legend">
		<label>Leyenda :</label>
		<i class="fas fa-circle traffic-green" ></i>
		 Entregado
		<i class="fas fa-circle traffic-yellow" ></i>
		 Hold
		<i class="fas fa-circle traffic-red" ></i>
		 Cancelado
		<i class="fas fa-circle traffic-blue" ></i>
		Confirmado
		<i class="fas fa-circle traffic-orange" ></i>
		Rechazado
	</div>
</form>	