
<div class="layerModalFields" v-bind:class="{visible:dialog_status}">
	<form name="frm-meta-user">
		<div class="row col-12 col-sm-12 col-md-12 col-lg-12 mb-2">
			<el-button @click.prevent="handleCancelDialog"
				title="Cancelar">
				Cancelar
			</el-button>
			<el-button type="primary" @click.prevent="handleConfirmDialog"
				title="Guardar">
				Guardar
			</el-button>
		</div>
		<div class="row">
			<h2>Datos Generales</h2>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">ID Usuario</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.username"
						name="username"
						placeholder="Ingrese ID Usuario" 
						:disabled="form.id!=null?true:false" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('username')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Contraseña</label>
					<input 
						type="password" 
						class="form-control p-2"  
						v-model = "form.password"
						name="password"
						placeholder="Ingrese Contraseña" 
						
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('password')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Nombres</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.first_name"
						name="first_name"
						placeholder="Ingrese nombres" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('first_name')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Apellidos</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.last_name"
						name="last_name"
						placeholder="Ingrese apellidos" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('last_name')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Documento</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.dni"
						name="dni"
						placeholder="Ingrese documento" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('dni')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" 
					class="form-label pr-2">Email</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.email"
						name="email"
						placeholder="Ingrese email" 
						@blur="handleBlur"
						autocomplete="off" 
						>
				</div>	
				<div v-if="hasError('email')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<div class="form-group">
					<label for="" class="form-label pr-2">Estado</label>
					<el-select v-model="form.estado" 
						placeholder="Seleccione"
						filterable
						name="estado"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('estado')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<div class="form-group">
					<label for="" class="form-label pr-2">Visualizar Todos Clientes</label>
					<el-select v-model="form.all_customer" 
						placeholder="Seleccione"
						filterable
						name="all_customer"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_confirmacion"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('all_customer')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<div class="form-group">
					<label for="" class="form-label pr-2">
						Visualizar Todos Ordenes
					</label>
					<el-select v-model="form.all_orders" 
						placeholder="Seleccione"
						filterable
						name="all_orders"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_confirmacion"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('all_orders')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2>Perfiles</h2>
				<div class="form-group">
					<el-transfer
						ref="elt_perfiles"
					    filterable
					    :filter-method="handleProfilesFilter"
					    :titles="['No asignados', 'Asignados']"
					    filter-placeholder="Buscar perfil"
					    v-model="form.perfiles"
					    :data="list.list_perfiles">
					  </el-transfer>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2>Permisos</h2>
				<div class="form-group">
					<el-transfer
						ref="elt_permisos"
					    filterable
					    :filter-method="handleGrantsFilter"
					    :titles="['No asignados', 'Asignados']"
					    filter-placeholder="Buscar permiso"
					    v-model="form.accesos"
					    :data="list.list_accesos">
					  </el-transfer>
				</div>
			</div>
		</div>
		{% comment %}
			<div class="row mt-2">
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 ml-0">
					<h2>Clientes</h2>
					<div class="form-group panel-customer">
						<el-transfer
							ref="elt_clientes"
						    filterable
						    :filter-method="handleClienteFilter"
						    :titles="['No asignados', 'Asignados']"
						    filter-placeholder="Buscar cliente"
						    v-model="form.clientes"
						    :data="list.list_clientes">
						</el-transfer>
					</div>
				</div>
			</div>
		{% endcomment %}
		<div class="row col-12 col-sm-12 col-md-12 col-lg-12 pl-3 pt-2">
			<el-button @click.prevent="handleCancelDialog"
				title="Cancelar">
				Cancelar
			</el-button>
			<el-button type="primary" @click.prevent="handleConfirmDialog"
				title="Guardar">
				Guardar
			</el-button>
		</div>
	</form>
</div>