<el-dialog
	title="Registro de Perfiles"
	:visible.sync="dialog_status"
	:before-close="handleCloseDialog">
	<form name="frm-meta-perfil">
		<div class="row Fields">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<div class="form-group">
					<label for="" class="form-label"
						>Descripci&oacuten</label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "form.name"
						name="name"
						autocomplete="off" 
						placeholder="Ingrese descripcion" 
						@blur="handleBlur"
						>
				</div>	
				<div v-if="hasError('name')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<div class="form-group">
					<label for="" class="form-label pr-2">Estado</label>
					<el-select v-model="form.estado" 
						placeholder="Seleccione"
						filterable
						name="estado"
						@blur="handleBlur"
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('estado')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<label class="form-label">Permisos</label>
				<div class="form-group">
					<el-transfer
						ref="elt_permisos"
					    filterable
					    :filter-method="handleProfilesFilter"
					    :titles="['No asignados', 'Asignados']"
					    filter-placeholder="Buscar Permisos"
					    v-model="form.accesos"
					    :data="list.list_accesos">
					  </el-transfer>
				</div>
			</div>
		</div>
	</form>
	<span slot="footer" class="dialog-footer">
	<el-button @click.prevent="handleCancelDialog">
		Cancelar
	</el-button>
	<el-button type="primary" @click.prevent="handleConfirmDialog">
		Guardar
	</el-button>
	</span>
</el-dialog>