
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/css/catalogos_clientes.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" 
		id="vContainer"
		v-bind:class="styleData"
		>
		<template>
			<div class="layerFields">
				{% include 'catalogos/filters/filter_clientes.html' %}
			</div>
			<div class="layerTable">
				{% include 'catalogos/tables/table_clientes.html' %}
			</div>
			<div class="pager">
			  <el-pagination
			    :page-size="list.page.page_size"
			    :pager-count="list.page.page_count"
			    :current-page="list.page.page_current"
			    layout="prev, pager, next"
			    @current-change="handleChangePage"
			    :total="list.page.page_total">
			  </el-pagination>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label> ${totales.filas} de ${list.page.page_total}</label>
				</div>
			</div>
		</template>
	</div>
	<div id="vModal">
		<template>
			{% include 'catalogos/forms/form_clientes.html' %}
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	
	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
		const URI_TDOCUMENTO = "{% url 'apiv1:metas_obtener_tdocumento' %}";
		const URI_PAISES = "{% url 'apiv1:metas_obtener_paises' %}";
		const URI_CONTACTADOS = "{% url 'apiv1:metas_obtener_contactados' %}";
		
		{% if perms.catalogos.change_mininum_clientes %}
			var all_flds = true;
		{%else%}
			var all_flds = false;
		{%endif%}
	</script>
	<script src="{% static '/js/catalogos_clientes.js' %}"></script>
{% endblock %}