@import 'nib'


wbg-body = rgba(231,231,231,0.8)
wbg-header = rgba(13,16,16,1)
wbg-leftside = wbg-header
wbg-rightside = rgba(231,231,231,0.8)
color-white = rgba(255,255,255,1)
wbg-active-item = rgba(0,115,173,1)
wbg-session =  rgba(19,19,19,0.7)
// leftside-width = 14.28571428571429rem
leftside-width = 12.8571428571rem
leftside-collapse-width = 4rem
nav-collapse-deadline = 3rem

top-line-height = 4.3rem
top-font-color = rgb(51, 51, 51)
middle-margin-top = top-line-height

@font-face
  font-family: 'Shrikhand';
  src: url('../../fonts/Shrikhand-Regular.ttf');  IE9 Compat Modes 
  src: url('../../fonts/Shrikhand-Regular.ttf') format('truetype')

@keyframes spin-loader {
	0% { 
		transform rotate(0deg)
	}
	100% { 
		transform rotate(360deg) 
	}
}
  
@keyframes hide-element {
	0% {
		transform : scale(1)
		opacity : 1
	}
	50% {
		transform : scale(0.1)
		opacity : 0.1
	}
	100% {
		transform : scale(0)
		opacity : 0
		width : 0
		height : 0
		padding : 0
	}
}

html, body
	padding 0
	margin 0
	font-size 14px
	box-sizing border-box
	overflow-y auto
	background-color wbg-body

wsession-side()
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background-color wbg-session
	z-index 1002
	transition 0.4s all ease-in-out
	transform scaleX(0)
	transform-origin right
	opacity 0
	&.appear
		transform scaleX(1)
		opacity 1
	.session-container
		transition 1s all ease-in-out
		margin 100px auto
		display block
		width 30%
		background-color color-white
		border-radius 2px
		border 1px solid rgba(42,42,42,0.9)
		box-shadow 1px 1px 1px rgba(68,68,68,1)
		overflow hidden
		.session-body
			h3, p, footer
				padding 0.5rem
			h3
				font-size 1.4rem
				font-weight bold
				background-color rgba(255,0,0,.8)
				color color-white
				border-bottom 1px solid rgba(42,42,42,0.6)
			p
				background-color color-white
				label
					font-weight bold
			footer
				background-color rgba(192,192,192,0.3)
				button, input[type="submit"]
					font-weight bold

wuser-details()
	position absolute
	height auto
	top top-line-height+0.1
	right 0rem
	width 14.28571428571429rem
	background-color transparent
	z-index 1001
	transition 0.5s all ease-in-out
	transform scaleY(0)
	transform-origin top
	opacity 0
	&.appear
		transform scaleY(1)
		opacity 1
	nav 
		padding-top 0.5rem
		padding-bottom 0.5rem
		background-color rgba(49,50,57,0.9)
		border-radius 0.3rem
		ul 
			padding 0
			margin 0
			list-style none
			li
				a
					i
						margin-right 0.7rem
					border-radius 0.3rem
					transition 0.3s all ease-in-out					
					&:link, &:active, &:visited
						text-decoration none
						color color-white
						display block
						padding 0.5rem 1rem
					&:hover
						cursor pointer
						background-color rgba(0,0,0,1)
						padding-left 1.2rem
	
wtop-side()
	height auto
	background-color wbg-header
	z-index 1000
	position fixed
	top 0
	left 0
	right 0
	min-height top-line-height
	/*.layer-bg
		display block
		height 100%
		width 100%
		background-color #EDEEF2
		top 0
		left 0
		position absolute
		z-index -2
		opacity 0.9*/
		
	.layer-sandwich
		float left
		width 50px
		display block
		padding-left 0.8rem
		transition 0.5s transform ease-in-out
		transform scale(0)
		span
			i
				line-height top-line-height
				font-size 1.9rem
				color color-white
				&:hover
					cursor pointer
	.layer-logo
		float left
		width auto
		padding 0 0.5rem
		margin-left 1rem
		/*border-radius 5px*/
		label
			margin 0
			padding 0
			font-family 'Shrikhand'
			color color-white
			text-align center
			display block
			font-size 1.5rem
			line-height top-line-height
			
	.layer-user
		float right
		width auto
		overflow hidden	
		span, label.user-guess
			float right
			line-height top-line-height
			display block
				
		span.user-img
			text-align center
			background-color silver
			padding 0 0.6rem
			&:hover
				cursor pointer
			i
				padding 0 0.6rem
				color top-font-color
				font-size 1.8rem
		span.user-info
			padding 0.5rem 1.5rem 0 1.5rem
			label
				transition 0.5s all ease-in-out
				opacity 1
				display block
				line-height normal
				margin-bottom 0
				color color-white
				font-size 0.8em
			// .info-session
			// 	display none
		label.user-guess
			// transition 1s all ease-in-out
			margin 0
			padding 0 1rem
			color top-font-color
			opacity 1
			b a
				font-size 1.1rem
				color top-font-color
				text-decoration none
				font-weight bold
				padding 1rem
				transition 0.5s all ease-in-out
				&:hover
					color color-white
					background-color #044184

	.layer-user-details
		wuser-details()
		
wmiddle-leftside()
	transition 0.4s all ease-in-out
	position fixed
	width leftside-width
	top middle-margin-top
	bottom 0rem
	z-index 2
	background-color wbg-header
	display block
	&.collapse
		transition 0.2s all ease-in-out
		width leftside-collapse-width
		nav
			ul li a
				#sort-down, #sort-up, label
					opacity 0
				label
					display none
		.collapse-menu
			i
				&#angle-left
					opacity 0
				&#angle-right
					opacity 1
			label
				opacity 0
	nav
		/*height 100%
		overflow-y auto*/
		position absolute
		top 0
		left 0
		right 0
		bottom nav-collapse-deadline
		overflow-y auto
		.layer-menu, .layer-menu-child
			padding 0
			margin 0
			list-style none
			li > a
					position relative
					transition 0.4s all ease-in-out
					&:active, &:link, &:visited
						text-decoration none
						display block
						// padding 0.5rem 1.2rem
						padding 0.5rem 0.7rem
						color silver
						transition 0.5s  background-color ease-in-out
					&:hover
						color color-white
						background-color rgba(0,115,173,1)
					label
						transition 0.2s opacity ease-in-out
						margin 0
						display inline
						opacity 1
						&:hover
							cursor pointer
							
					#sort-down, #sort-up
						position absolute
						top 0.5rem
						right 0
						opacity 1
					#sort-up
						top 0.9rem
						opacity 0
					i
						padding-left 0.2rem
						padding-right 1rem
					
					
		.layer-menu
			li
				&.active
					background-color wbg-active-item
					a
						color color-white
						#sort-down
							opacity 0
						#sort-up
							opacity 1	
					.layer-menu-child
						li a
							font-size 1rem
							// padding 0.5rem 1.2rem
							padding 0.5rem 0.7rem
							
				.layer-menu-child
					background-color #313139
					li
						a
							transition 0.4s all ease-in-out
							font-size 0rem
							padding 0rem 1.2rem
							margin 0
							i
								opacity 0
								padding 0
								padding-left 0.3rem
	
	a.collapse-menu
		display block
		color color-white
		vertical-align middle
		height nav-collapse-deadline
		line-height nav-collapse-deadline
		padding-left 3rem
		transition 0.5s  background-color ease-in-out
		position absolute
		bottom 0
		left 0
		right 0
		
		&:active,&:visited,&:link
			text-decoration none
		&:hover
			background-color wbg-active-item
		i
			position absolute
			top 1rem
			left 1.2rem
			&#angle-left
				opacity 1
			&#angle-right
				opacity 0
		label
			transition 0.5s opacity ease-in-out
			&:hover
				cursor pointer
				
main
	.top-side
		wtop-side()

	.middle-side
		width 100%
		height 100%
		margin-top middle-margin-top
		.middle-leftside
			wmiddle-leftside()
					
		.middle-rightside-loader
			position fixed
			top 0
			left 0
			right 0
			bottom 0
			background-color rgba(0,0,0,0.3)
			z-index 5
			opacity 0
			transition 0.1s all ease-in-out
			transform scaleY(0)
			transform-origin top
			.loader
				display block
				width 50px
				height 50px
				border 5px solid #f3f3f3
				border-top 5px solid #5f5f5f
				background-color silver
				position absolute
				top 50%
				left 50%
				border-radius 50%
				animation spin-loader 0.5s linear infinite
				animation-play-state paused
				
			&.appear
				opacity 1
				transform scaleY(1)
				.loader
					animation-play-state running
					
		.middle-rightside
			position relative
			transition 0.4s all ease-in-out
			padding 0rem 0rem 1rem leftside-width
			display block
			// width 100%
			// height 100%
			overflow hidden
			&.collapse
				padding-left leftside-width - (leftside-width - leftside-collapse-width)
			.body-container
				overflow hidden
				padding 0 0.7142857142857143rem
				margin-bottom 1rem

	.session-side
		wsession-side()
		
wshow-navigator()
	&.appear
		transform scaleX(1)
		opacity 1

wshow-navigator-layer()
	&.appear
		padding-bottom 0rem
		&::before
			display block
			content ""
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-color rgba(0,0,0,0.3)
			z-index 1

@media screen and (max-width: 640px)
	html, body
		transition 1s all ease-in-out
		font-size 17px
	main
		.top-side
			.layer-sandwich
				padding-left 0.4rem
				width 38px
			.layer-logo
				// padding 0 0.8rem
				padding 0 0.2rem
				margin-left 0rem
				// label
				// 	font-size 1.1rem
			.layer-user
				span.user-img
					padding 0 0.2rem 0 0.2rem
				.user-info
					animation-name  hide-element
					animation-duration 0.5s
					animation-iteration-count 1
					animation-fill-mode forwards
		.middle-side
			.middle-rightside
				.body-container
					padding 0 5px !important
				wshow-navigator-layer()
		
		.session-side
			.session-container
				width 90% !important
				
		/*.bottom-side
			font-size 0.6rem*/

@media screen and (max-width: 980px)
	main
		.top-side
			.layer-sandwich
				transform scale(1)
			.layer-user
				label
					padding 0 0.5rem
		.middle-side
			.middle-leftside
				transform scaleX(0)
				transform-origin 0% 0%
				float left
				opacity 0
				wshow-navigator()
			.middle-rightside
				&.collapse
					padding-left 0
				padding-left 0rem
		
		.session-side
			.session-container
				width 60%
			
// @media screen and (max-width: 1200px)
// 	main
// 		.middle-side
// 			.middle-leftside
// 				width 15%
// 			.middle-rightside
// 				width 85%