@import 'nib'

color-white = rgba(255,255,255,1)
color-black = rgba(0,0,0,1)

bgcolor-even = rgba(245,247,250,1)
bgcolor-odd = rgba(220,222,225,0.4)

style_leyend()
	.div-legend
		font-size 0.9rem
		margin-top 0.1rem
		padding-left 0
		i
			margin-left 0.5rem
		.traffic-red
			color red
		.traffic-green
			color green
		.traffic-yellow
			color yellow
		.traffic-blue
			color blue
		.traffic-orange
			color orange

style_ordenes()
	transition 1s all ease-in-out
	.layerFields, .summary
		border 1px solid silver
		background-color color-white
	.layerFields
		margin 0
		padding 10px
		form
			width 100%
			.row
				.form-group
					.form-control
						padding 0.4rem
					.form-label
						margin-bottom 0.1rem
						
					div[class^="el-date-editor"]
						width 100%
					.el-select
						width 100%
			style_leyend()
						
			
	.layerTable
		background-color color-white
		.table
			margin-bottom 0
			tr 
				&.flags
					&.blue
						background-color rgba(0,0,255,0.1)
					&.red
						background-color rgba(255,0,0,0.2)
					&.yellow
						background-color rgba(255,255,0,0.3)
					&.green
						background-color rgba(0,128,0,0.2)
					&.orange
						background-color rgba(255,174,25,0.2)
				th
					text-align center
				td
					padding 0.1rem 0.5rem
					vertical-align middle
					text-align center
					button
						i
							font-size 1.2rem
	.summary
		margin-top 0.1rem
		padding 0.7142857142857143rem 1.428571428571429rem
		div
			display block
			width 100%
			height 1.2rem
			span
				font-weight bold
			label
		
style_order_item()
	padding 1rem 1.5rem	
	border 1px solid silver
	background-color color-white
	form
		div[class^="col-"]
			&.el-invoice
				font-size 1.2rem
				font-weight bold
				color blue
			.form-group
				margin-bottom 0.2rem
				.form-label
					padding-left 0rem
					margin-bottom 0.1rem
					display block
				// .form-control
				// 	padding .3rem !important
				.el-select
					width 100%
				&.el-fecha
					label
						display block
					.el-date-editor
						&.el-date-editor--date
							width 135px
						&.el-date-editor--time-select
							width 95px
						// display block
					
		.layerHeaderGroup
			font-weight bold
			label
				margin-bottom 0.1rem
		.layerDetails
			.layerRows
				overflow-y auto
				.table
					tr td
						vertical-align middle
						padding 0.1rem 0.2rem

#container-requests,
#container-form
	display none
							
.layerData, #vItem
	display display
	width 100%
	
.layerTitle
	margin-top 0.3571428571428571rem
	margin-bottom 0.3571428571428571rem
	padding 0.3571428571428571rem 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold

.layerTabs
	// margin-top 1rem
	p:nth-child(1)
		display none
		a
			transition 0.5s all ease-in-out
			&:active, &:link, &:visited
				padding 0.9rem
				border 1px solid silver
				text-decoration none
				color color-black
				background-color color-white
			&:hover
				background-color rgba(0,0,0,0.8)
				color color-white
				

.layerData
	style_ordenes()
	
#vItem
	style_order_item()

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)

.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.1rem
	margin-bottom 0.1rem