<div class="layerHeaderGroup">
	<label>Detalles </label>
</div>
<div class="layerRows">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nro.</th>
				<th>Modelo</th>
				<th>Talla</th>
				<th>Color</th>
				<th>Cantidad</th>
				<th>Precio Unit.</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in lst_items">
				<td>
					${item.item}
				</td>
				<td>
					${item.article?item.article.descripcion:''}
				</td>
				<td>
					${item.size?item.size.descripcion:''}
				</td>
				<td>
					${item.color?item.color.descripcion:''}
				</td>
				<td>
					${item.cantidad||0}
				</td>
				<td>
					${item.subtotal||0}
				</td>
				<td>
					${item.total||0}
				</td>
			</tr>
		</tbody>
	</table>
</div>