<form name="frm-backoffice-item">
	<div class="row Fields">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 el-invoice">
			<label>Order Nro. ${item_order.order}</label>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Datos Cliente </label>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					Cliente
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.cliente"
					name="cliente"
					placeholder="Cliente" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					Telefono
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.cliente_telefono"
					name="cliente_telefono"
					placeholder="Nro. Teléfono" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					Celular
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.cliente_telefono2"
					name="cliente_telefono2"
					placeholder="Nro. Celular" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					Ciudad
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.cliente_ciudad"
					name="cliente_ciudad"
					placeholder="Ciudad" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label" for="">Dirección</label>
				<textarea 
					class="form-control form-control-sm p-2"  
					v-model = "fields.cliente_direccion"
					name="cliente_direccion"
					placeholder="Ingrese direccion" 
					rows="1"
					cols="26"
					readonly="formStatus"
				>
				</textarea>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label" for="">Observaciones</label>
				<textarea 
					class="form-control form-control-sm p-2"  
					v-model = "fields.observaciones"
					name="observaciones"
					placeholder="Ingrese Observaciones" 
					rows="1"
					cols="26"
					readonly="formStatus"
				>
				</textarea>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Datos Adicionales </label>
			</div>
		</div>
		{% comment %}
			<div class="col-12 col-sm-12 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label" for="">Tipo Orden</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.tipo_invoice"
						name="tipo_invoice"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
		{% endcomment %}
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Forma Pago</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.forma_pago"
					name="forma_pago"
					placeholder="Ingrese información" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		{% comment %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label" for="">
						Nro. Tarjeta
					</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.nro_tarjeta"
						name="nro_tarjeta"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label" for="">
						TC. Vigencia
					</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.tarjeta_vigencia"
						name="tarjeta_vigencia"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label" for="">
						CVV
					</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.tarjeta_cvv"
						name="tarjeta_cvv"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
		{% endcomment %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					Fecha Venta
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.fecha_venta"
					name="fecha_venta"
					placeholder="Ingrese información" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					ETD Courier
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.fecha_etd_courier"
					name="fecha_etd_courier"
					placeholder="Ingrese información" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					Fecha Recepción
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fields.fecha_recepcion"
					name="fecha_recepcion"
					placeholder="Ingrese información" 
					autocomplete="off" 
					readonly="formStatus" 
					>
			</div>	
		</div>
		{% comment %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group el-fecha">
					<label class="form-label" for="">
						Fecha Entrega
					</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.fecha_entrega"
						name="fecha_entrega"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
		{% endcomment %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					Fecha / Hora Entrega
				</label>
				<input 
					
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "fechahora_entrega"
					name="fechahora_entrega"
					placeholder="Ingrese información" 
					autocomplete="off" 
					readonly="formStatus" 
					>
				{% comment %}
					<el-date-picker
						  v-if="status_reprograma?false:true"
					      v-model="fields.fecha_entrega"
					      type="date"
					      placeholder="Seleccione Fecha"
					      format="dd/MM/yyyy"
					      value-format="yyyy-MM-dd"
						  name="fecha_entrega"
						  size="small"
					      >
				    </el-date-picker>
				    <el-time-select
				      v-if="status_reprograma?false:true"
					  v-model="fields.hora_entrega"
					  :picker-options="range_time"
					  placeholder="Seleccione Horario"
					  name="hora_entrega"
					  :disabled="false"
					  size="small"
					  >
					</el-time-select>
				{% endcomment %}
			</div>
		</div>
		
		{% comment %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label" for="">
						En que Labora
					</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.labora"
						name="labora"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label" for="">
						Contesta Celular
					</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.contesta_celular"
						name="contesta_celular"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
		{% endcomment %}

		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Notas</label>
				<textarea 
					class="form-control form-control-sm p-2"  
					v-model = "fields.observaciones2"
					name="observaciones2"
					placeholder="Ingrese Notas" 
					rows="1"
					cols="26"
					readonly="formStatus" >
				</textarea>	
			</div>	
		</div>
		{% comment %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label" for="">
						Vendedor
					</label>
					<input 
						type="text" 
						class="form-control form-control-sm p-2"  
						v-model = "fields.vendedor"
						name="vendedor"
						placeholder="Ingrese información" 
						autocomplete="off" 
						readonly="formStatus" 
						>
				</div>	
			</div>
		{% endcomment %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					Fecha Reprogramada
				</label>
				<el-date-picker
					  :disabled="status_reprograma"
				      v-model="fields.fecha_entrega_reprogramada"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"
					  name="fecha_entrega_reprogramada"
					  size="small"
				      >
			    </el-date-picker>
			    <el-time-select
			      :disabled="status_reprograma"
				  v-model="fields.hora_entrega_reprogramada"
				  :picker-options="range_time"
				  placeholder="Seleccione Horario"
				  name="hora_entrega_reprogramada"
				  size="small"
				  >
				</el-time-select>
			</div>	
		</div>


		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Entrega del Producto </label>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Tipificación</label>
				<el-select 
					v-model="fields.sub_tipo_invoice" 
					placeholder="Seleccione..."
					filterable
					clearable
					name="sub_tipo_invoice"
					size="small"
					>
				    <el-option
				      v-for="item in list.list_estados"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Follow Up</label>
				<el-select 
					v-model="fields.tipo_seguimiento" 
					placeholder="Seleccione..."
					filterable
					clearable
					name="tipo_seguimiento"
					size="small"
					>
				    <el-option
				      v-for="item in list.list_seguimiento"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Dirección Entrega</label>
				<textarea 
					class="form-control form-control-sm p-2"  
					v-model = "fields.delivery_address"
					name="delivery_address"
					placeholder="Ingrese direccíón" 
					rows="1"
					cols="26">
				</textarea>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Motivo Reprogramación</label>
				<textarea 
					class="form-control form-control-sm p-2"  
					v-model = "fields.motivo_reprogramacion"
					name="motivo_reprogramacion"
					placeholder="Ingrese motivo" 
					rows="1"
					
					cols="26">
				</textarea>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 layerDetails">
			{% include 'invoices/forms/form_backoffice_details.html' %}
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3 pb-2">
			<div class="form-group">
				<label class="form-label" for="">Total</label>
				<input 
					type="text" 
					class="form-control p-2"  
					v-model = "summary.total"
					name="total"
					placeholder=""
					disabled
					autocomplete="off" >
			</div>	
		</div>	

		{% include 'invoices/forms/buttons/form_backoffice_buttons.html' %}
	</div>
</form>