

@import 'grants_main.styl'


layer_modal()
	.el-dialog
		width 50%
		.el-dialog__header
			.el-dialog__title
				font-weight bold
		.el-dialog__body
			padding 10px 20px
			form
				width 100%
				.row.Fields
					padding 0 10px
					div[class^="col-"]
						margin-bottom 1rem
						.form-group
							margin-bottom 0.2rem
							.form-label
								display block
								width 100%
								margin-bottom 0rem

.layerTable
	height auto
	.table
		tr
			th
				text-align center
			td
				text-align center
				vertical-align middle
				padding .1rem .5rem
				button i
					font-size 1.2rem
	
#vModal
	layer_modal()
						
.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.1rem
	margin-bottom 0.1rem
	&.alert-success
		margin-bottom 0.5rem
		display inline-block
		i
			font-size 1.5rem
			margin 0 0.5rem

@media screen and (max-width: 640px)
	#vModal
		.el-dialog
			width 95% !important

@media screen and (max-width: 980px)
	#vModal
		.el-dialog
			width 70%
			.el-dialog__body
				padding 10px 5px