<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Fh. Ingreso</th>
			<th>Descripción</th>
			<th>Categoria</th>
			<th>Estado</th>
			<th>Usuario</th>
			<th>Fh.Modif</th>
			<th>Usuario Modif.</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in lst_items">
			<td>
				<button type="button" 
					@click.prevent="handleRemoveArticle(item)"
					class="btn btn-danger btn-sm"
					title="Eliminar">
					<i class="fas fa-minus-circle"></i>
				</button>
				<button type="button" 
					@click.prevent="handleModifyArticle(item)"
					class="btn btn-info btn-sm"
					title="Modificar">
					<i class="fas fa-pen-square"></i>
				</button>
			</td>
			<td v-text="item.id"></td>
			<td>
				${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td > 
				${item.descripcion||''}
			</td>
			<td>${item.categoria?item.categoria.descripcion:''}</td>
			<td>${item.estado.descripcion}</td>
			<td > 
				${item.username||'-'}
			</td>
			<td > 
				${item.fhmodificacion?item.fhmodificacion:null |format("DD/	MM/Y HH:MM:ss")}  
			</td>
			<td > 
				${item.username_modif||'-'}
			</td>
			
		</tr>
	</tbody>
</table>