<div class="session-container">
	<article class="session-body">
		<h3>
			Expiración de sesión
		</h3>
		<p>
			La sesión se concluirá en <label>10 segundos</label>!
		</p>
		<footer>
			<form action="{% url 'login:logout' %}" method="GET">
				<button class="btn btn-primary" type="button">
					Extender mi sesión
				</button>
				<input class="btn btn-danger" 
					type="submit" value="Cerrar sesión" />
			</form>
		</footer>
	</article>	
</div>