<div class="row">
	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
		<div class="form-group">
			<label for="" class="form-label">
				Articulo :
			</label>
			<input type="text" 
				name="articulo"
				v-model="articulo"
				class="form-control form-control-sm p-2"
				autocomplete="off" 
				>
		</div>	
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
		<div class="form-group">
			<label for="" class="form-label">
				Categoria :
			</label>
			<el-select 
				size="small"
				v-model="categoria" 
				placeholder="Seleccione"
				filterable
				clearable>
			    <el-option
			      v-for="item in list.list_categorias"
			      :key="item.id"
			      :label="item.value"
			      :value="item.id">
			    </el-option>
			</el-select>
		</div>	
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
		<div class="form-group">
			<label for="" class="form-label">
				Estado :
			</label>
			<el-select 
				v-model="estado" 
				size="small"
				placeholder="Seleccione"
				filterable
				clearable>
			    <el-option
			      v-for="item in list.list_estados"
			      :key="item.id"
			      :label="item.value"
			      :value="item.id">
			    </el-option>
			</el-select>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-6 col-md-3 col-lg-2">
		<button 
			class="btn btn-sm btn-primary btn-block" 
			@click.prevent="handleSearch">
			<i class="fas fa-search"></i>
			Buscar
		</button>
	</div>
	<div class="col-12 col-sm-6 col-md-3 col-lg-2">
		<button 
			class="btn btn-sm btn-success btn-block" 
			@click.prevent="handleAddCategory">
			<i class="fas fa-plus-circle"></i>
			Agregar
		</button>
	</div>
	<div class="col-12 col-sm-6 col-md-3 col-lg-2">
		<button class="btn btn-sm btn-warning btn-block" 
			@click.prevent="handleClean">
			<i class="fas fa-backspace"></i>
			Limpiar
		</button>
	</div>
</div>