
<div class="layerHeaderGroup">
	<label>Detalles </label>
</div>
<section>
	<div class="row">
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Categoria</label>
				<el-select 
					v-model="child.producto.categoria.id" 
					placeholder="Seleccione Categoria"
					filterable
					clearable
					name="categoria"
					>
				    <el-option
				      v-for="item in list.list_categorias"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Articulo</label>
				<el-select 
					v-model="child.producto.id" 
					placeholder="Seleccione Articulo"
					filterable
					clearable
					name="producto"
					>
				    <el-option
				      v-for="item in list.list_articulos"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">Cantidad</label>
				<el-input-number 
					v-model="child.cantidad" 
					@change="handleChangeCantidad" 
					:min="1" :max="100">
					
				</el-input-number>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4 col-lg-3"
			v-if="!child.item">
			<button type="button" 
				@click.prevent="handleAddArticle"
				class="btn btn-success btn-block"
				title="Agregar articulo" >
				<i class="fas fa-plus-circle"></i>
				Agregar Item
			</button>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<button type="button" 
				@click.prevent="handleUpdateArticle"
				class="btn btn-success btn-block"
				title="Actualizar articulo"
				v-if="child.item">
				<i class="fas fa-sync-alt"></i>
				Actualizar Item
			</button>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3"
			v-if="child.item">
			<button type="button" 
				@click.prevent="handleCancelArticleChanges"
				class="btn btn-warning btn-block"
				title="Cancelar cambios">
				<i class="fas fa-ban"></i>
				Cancelar cambios
			</button>
		</div>
	</div>
	{% comment %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3"
			v-if="form.id!=null" >
			<button type="button" 
				@click.prevent="handleExportInvoice"
				class="btn btn-info btn-block"
				title="Exportar Excel">
				<i class="fas fa-file-excel"></i>
				Exportar
			</button>
		</div>
	{% endcomment %}
</section>
<div class="layerRows">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Nro</th>
				<th>Articulo</th>
				<th>Categoria</th>
				<th>Cantidad</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in lst_items">
				<td>
					<button type="button" 
						@click.prevent="handleRemoveArticle(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
					<button type="button" 
						@click.remove="handleModifyArticle(item)"
						class="btn btn-info btn-sm"
						title="Modificar">
						<i class="fas fa-pen-square"></i>
					</button>
				</td>
				<td>
					${item.item?item.item:''}
				</td>
				<td>
					${item.producto.descripcion?item.producto.descripcion:''}
				</td>
				<td>
					${item.producto.categoria.descripcion?item.producto.categoria.descripcion:''}
				</td>
				<td>
					${item.cantidad}
				</td>
			</tr>
		</tbody>
	</table>
</div>