<form name="frm-orden-compra">
	<div class="row Fields">
		{% include 'productos/forms/buttons_order_details.html' %}
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Datos Generales </label>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 el-order"
			v-if="form.id!=null">
			<label>Orden Compra Nro. ${form.id}</label>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label" for="">Doc. Compra Referencia </label>
				<input 
					type="text" 
					class="form-control p-2"  
					v-model = "form.documento_compra"
					name="documento_compra"
					placeholder="Ingrese Doc. Compra"
					maxlength="25" 
					
					autocomplete="off" 
					>
				<div v-if="hasError('documento_compra')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label">
					Doc. Compra Fecha Emisi&oacuten
				</label>
				<el-date-picker
				      v-model="form.documento_fecha_emision"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"

					  name="documento_fecha_emision"
				      >
			    </el-date-picker>
			    <div v-if="hasError('documento_fecha_emision')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-5">
			<div class="form-group">
				<label class="form-label">
					Observaciones
				</label>
				<textarea 
					class="form-control p-2"  
					v-model = "form.observaciones"
					name="observaciones"
					placeholder="Ingrese Observaciones" 
					rows="2"
					cols="26"
				>
				</textarea>
				<div v-if="hasError('observaciones')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 layerDetails">
			{% include 'productos/forms/form_order_details.html' %}	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 layerSummary">
			<span>
				<label>Total Registros :</label> ${summary.nitems}
			</span>
			<span>
				<label>Total unidades :</label> ${summary.nunits}
			</span>
		</div>
		{% include 'productos/forms/buttons_order_details.html' %}
	</div>
</form>