
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/css/products_article.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<div class="layerFields">
				{% include 'productos/filters/filter_article.html' %}
			</div>
			<div class="layerTable">
				{% include 'productos/tables/table_article.html' %}
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</template>
	</div>
	<div id="vModal">
		<template>
			{% include 'productos/forms/form_article.html' %}
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	
	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
		const URI_CATEGORIAS = "{% url 'apiv1:metas_obtener_categorias' %}";		
	</script>
	<script src="{% static '/js/products_article.js' %}"></script>
{% endblock %}