
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/css/products_purcharse.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerTabs"  id="vTabs">
		<p>
			<router-link to="/"> Ordenes </router-link>
			<!-- <router-link 
				to="/reserva"> 
				Formulario 
			</router-link> -->
		</p>
		<router-view 
			@change-page="onChangePage" 
			@close-dialog="onCloseDialog">
		</router-view>
	</div>

	<div id="container-requests">
		<div class="layerData" id="vContainer" >
			<div class="row layerFields">
				<form data-toggle="validator" role="form">
					<div class="form-row">
						<div class="form-group col-12 col-sm-6 col-md-2 col-lg-2">
							<label class="form-label"
								 for="">Descripci&oacuten</label>
							<input 
								type="text" 
								class="form-control input-sm"  
								v-model = "descripcion"
								name="descripcion" 
								>
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Fecha Desde</label>
							<el-date-picker
							      v-model="fecha_desde"
							      type="date"
							      placeholder="Seleccione Fecha"
							      format="dd/MM/yyyy"
								  value-format="yyyy-MM-dd"
								  name="fecha_desde"
								  size="small"
							      >
						    </el-date-picker>
						    <div v-if="hasError('fecha_desde')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Fecha Hasta</label>
							<el-date-picker
							      v-model="fecha_hasta"
							      type="date"
							      placeholder="Seleccione Fecha"
							      format="dd/MM/yyyy"
								  value-format="yyyy-MM-dd"
								  name="fecha_hasta"
								  size="small"
							      >
						    </el-date-picker>
						      <div v-if="hasError('fecha_hasta')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
						</div>
					</div>
					<div class="form-row">
						<div class="btn-group btn-group-sm" role="group">
							<button type="button" class="btn btn-primary"
								title="Buscar"
								v-on:click="handleSearch">
								<i class="fas fa-search"></i>
								Buscar
							</button>
							<button type="button" class="btn btn-warning"
								title="Limpiar"
								v-on:click="handleCleanFields">
								<i class="fas fa-eraser"></i>
								Limpiar
							</button>
							<button type="button" class="btn btn-success"
								title="Agregar"
								v-on:click="handleNew">
								<i class="fas fa-plus-circle"></i>
								Agregar
							</button>
							<button type="button" class="btn btn-info"
								title="Exportar"
								v-on:click="handleExportAll">
								<i class="fas fa-file-excel"></i>
								Exportar
							</button>
						</div>
						{%comment%}
							<div class="col-12 col-sm-6 col-md-4 col-lg-2">
								<button class="btn btn-primary btn-block" 
									@click.prevent="handleSearch"
									title="Buscar">
									<i class="fas fa-search"></i>
									Buscar
								</button>	
							</div>
							<div class="col-12 col-sm-6 col-md-4 col-lg-2">
								<button class="btn btn-success btn-block" 
										@click.prevent="handleNew"
										title="Crear Orden">
										<i class="fas fa-plus-circle"></i>
										Nuevo Orden
								</button>
							</div>
							<div class="col-12 col-sm-6 col-md-4 col-lg-2">
								<button class="btn btn-warning btn-block" 
									@click.prevent="handleCleanFields"
									title="Limpiar Campos">
									<i class="fas fa-plus-circle"></i>
									Limpiar Campos
								</button>
							</div>
							<div class="col-12 col-sm-6 col-md-4 col-lg-2"
								v-if="lst_items.length>0">
								<button class="btn btn-info btn-block" 
									@click.prevent="handleExportAll"
									title="Exportar Listado">
									<i class="fas fa-file-excel"></i>
									Exportar
								</button>
							</div>
						{% endcomment %}
					</div>
				</form>				
			</div>
			<div class="layerTable">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Order</th>
							<th>Fh. Ingreso</th>
							<th>Doc. Compra</th>
							<th>Doc. Fch.Emisi&oacuten</th>
							<th>Nro. Productos</th>
							<th>Usuario</th>
							<th>Fh. Modif.</th>
							<th>Usuario Modif.</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items">
							<td>
								<button type="button" 
									@click.remove="removeItem(item)"
									class="btn btn-danger btn-sm"
									title="Eliminar">
									<i class="fas fa-minus-circle"></i>
								</button>
								<button type="button" 
									@click.remove="modifyItem(item)"
									class="btn btn-info btn-sm"
									title="Modificar">
									<i class="fas fa-pen-square"></i>
								</button>
							</td>
							<td>
								${item.id}
							</td>
							<td>
								${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>${item.documento_compra}</td>
							<td>
								${item.documento_fecha_emision| format("DD/MM/Y")}
							</td>
							<td> ${item.ndetails} </td>
							<td > ${item.username}</td>
							<td>
								${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td > ${item.username_modif}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="pager">
			  <el-pagination
			    :page-size="list.page.page_size"
			    :pager-count="list.page.page_count"
			    :current-page="list.page.page_current"
			    layout="prev, pager, next"
			    @current-change="handleChangePage"
			    :total="list.page.page_total">
			  </el-pagination>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.nitems} de ${totales.ntotal}</label>
				</div>
			</div>
		</div>
	</div>
	<div id="container-form">
		<div id="vItem">
			{% include 'productos/forms/form_purcharse_order.html' %}
		</div>
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/unpkg.com/vue-router@3.0.1/dist/vue-router.min.js' %}"></script>
	
	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_CATEGORIAS = "{% url 'apiv1:metas_obtener_categorias' %}";
		const URI_ARTICULOS = "{% url 'apiv1:metas_obtener_articulos' %}";

		const uidemployer = '0' ;
	</script>
	<script src="{% static '/js/products_purcharse.js' %}"></script>
{% endblock %}