<table class="table table-hover">
<thead>
	<tr>
		<th></th>
		<th>Orden</th>
		<th>Fh.Ingreso</th>
		<th>Seguimiento</th>
		<th>Cliente</th>
		<th>Precio</th>
		<th>Fch.Entrega</th>
		<th>Usuario</th>
		<th>Fh.Modif</th>
		<th>Usuario Modif.</th>
	</tr>
</thead>
<tbody>
	<tr v-for="item in lst_items"
		v-bind:class="StyleRowStatus(item)">
		<td>
			{% if perms.invoice.change_backoffice %}
				<button type="button" 
					class="btn btn-success btn-sm" title="Modificar"
					@click.prevent="modifyOrder(item)" >
					<i class="fas fa-pen-square"></i>
				</button>
			{%endif%}
		</td>
		<td>${item.order||''}</td>
		<td>${item.fhregistro_format| format("DD/MM/Y HH:MM:ss")}</td>
		<td>
			${item.tipo_seguimiento?item.tipo_seguimiento.descripcion:'-'}
		</td>
		<td>
			${item.cliente?item.cliente.razon_social:''}
		</td>
		<td>
			${item.total||0.00}
		</td>
		<td>
			${item.fecha_entrega_reprogramada?item.fecha_entrega_reprogramada:item.fecha_entrega| format("DD/MM/Y")}
		</td>
		<td>${item.username||''}</td>
		<td>
			${item.fhmodificacion_format| format("DD/MM/Y HH:MM:ss")}
		</td>
		<td>${item.username_modif||''}</td>
	</tr>
</tbody>
</table>