<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Pedido</th>
			<th>Fh. Ingreso</th>
			<th>Cliente</th>
			<th>Cantidad</th>
			<th>Total</th>
			<th>Forma Pago</th>
			<th>Usuario</th>
			<th>Fh. Modif.</th>
			<th>Usuario Modif.</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in lst_items" 
			v-bind:class="StyleRowStatus(item)">
			<td>
				{% if perms.invoice.delete_invoiceparent %}
					<button type="button" 
						@click.prevent="removeInvoice(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
				{%endif%}
				{% if perms.invoice.xlsinvoice_invoiceparent %}
					<button type="button" 
						@click.prevent="handleExportInvoice(item)"
						class="btn btn-success btn-sm"
						title="Exportar">
						<i class="fas fa-file-excel"></i>
					</button>
				{%endif%}
			</td>
			<td>
				{% if perms.invoice.change_invoiceparent %}
					<button type="button" 
						@click.prevent="modifyInvoice(item)"
						class="btn btn-success btn-sm"
						title="Modificar">
						<b>${item.order||''}</b>
					</button>
				{%else%}
					${item.order||''}
				{%endif%}
			</td>
			<td>
				${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td>${item.cliente? item.cliente.razon_social:''}</td>
			<td> 
				${item.ndetails||0} 
			</td>
			<td > 
				${item.total}
			</td>
			<td > 
				${item.forma_pago?item.forma_pago.descripcion:''}
			</td>
			<td > 
				${item.username||''}
			</td>
			<td>
				${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td>${item.username_modif||''}</td>	
		</tr>
		<tr v-if="lst_items.length==0">
			<td colspan="10">
				No se encontraron resultados
			</td>
		</tr>
	</tbody>
</table>