@import 'nib'

color-white = rgba(255,255,255,1)

.body-container
	padding 0px 10px !important

.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold
	
.layerFields,
.layerButtons
	border 1px solid silver
	background-color color-white

.layerButtons
	margin-top 5px
	margin-bottom 5px
	padding 10px 20px
.layerFields
	padding 20px
	div[class^="col-"]
		.form-group
			label, .el-select
				display block
			div[class^="el-date-editor"]
				width 7.85714285714rem

.layerTable
	background-color color-white
	overflow-x: auto;

#vModal
	.el-dialog
		width 40%
		.el-dialog__header
			.el-dialog__title
				font-weight bold
		.el-dialog__body
			padding 10px 20px
			.row.Fields
				padding 0 10px
				form
					width 100%
					div[class^="col-"]
						.form-group
							label
								width 5.71428571429rem

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)

@media screen and (max-width: 640px)
	.layerFields
		padding 20px 5px
		div[class^="col-"]
			.form-group
				div[class^="el-date-editor"]
					width auto
	#vModal
		.el-dialog
			width 95% !important
				.el-dialog__body
					padding 10px 5px
					.row.Fields
						div[class^="col-"]
							.form-group
								.el-select
									width 100%
									
@media screen and (max-width: 980px)
	#vModal
		.el-dialog
			width 65%
			.el-dialog__body
				.row.Fields
					div[class^="col-"]
						.form-group
							.el-select
								width 70%