@import 'nib'

color-white = rgba(255,255,255,1)

.body-container
	padding 0px 10px !important

.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold
	
.layerFields, .summary
	border 1px solid silver
	background-color color-white

.layerFields
	padding 5px 20px
	div[class^="col-"]
		button
			margin-top 0.5rem
		.form-group
			margin-bottom 0.1rem
			.form-label
				display block
				margin-bottom 1px
			.el-select
				display block
				width 100%

.layerTable
	background-color color-white
	overflow auto
	max-height 24rem
	tr 
		th,td
			text-align center
		td
			padding 0.2rem 0.5rem
		td:nth-child(1)
			text-align center
			button i
				font-size 1.2rem

.summary
	margin-top 0.8rem
	padding 0.7142857142857143rem 1.428571428571429rem
	div
		display block
		width 100%
		height 1.2rem
		span
			font-weight bold
		label
	
#vModal
	.el-dialog
		transition  1s all ease-in-out
		width 40%
		.el-dialog__header
			.el-dialog__title
				font-weight bold
		.el-dialog__body
			padding 10px 20px
			.row.Fields
				padding 0 10px
				form
					width 100%
					div[class^="col-"]
						.form-group
							label
								width 5.71428571429rem

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
		
@media screen and (max-width: 640px)
	.layerFields
		padding 20px 5px
		div[class^="col-"]
			.form-group
				div[class^="el-date-editor"]
					width auto
	#vModal
		.el-dialog
			width 95% !important
			.el-dialog__body
				padding 10px 5px
				.row.Fields
					div[class^="col-"]
						.form-group
							.el-select
								width 100%

@media screen and (max-width: 980px)
	#vModal
		.el-dialog
			width 65%
			.el-dialog__body
				.row.Fields
					div[class^="col-"]
						.form-group
							.el-select
								width 70%