@import 'nib'

color-white = rgba(255,255,255,1)

.body-container
	padding 0px 10px !important

.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold
	
.layerFields,
.layerButtons,
.summary
	border 1px solid silver
	background-color color-white

.layerButtons
	margin-top 5px
	margin-bottom 5px
	padding 10px 20px
	transition 1s all ease-in-out
	button
		transition 1s all ease-in-out
		margin-right 10px
.layerFields
	padding 5px 20px
	div[class^="col-"]
		.form-group
			margin-bottom 0.2rem
			input[type="text"]
				text-transform uppercase
			label, .el-select
				display block
				margin-bottom 0.1rem
			div[class^="el-date-editor"]
				width 7.85714285714rem

.layerTable
	background-color color-white
	height 21.42857142857143rem
	overflow-y auto
	.table
		td
			padding 0.1rem 1rem

.summary
	margin-top 0.8rem
	padding 0.7142857142857143rem 1.428571428571429rem
	div
		display block
		width 100%
		height 1.2rem
		span
			font-weight bold
		label
			
	
#vModal
	.el-dialog__wrapper
		.el-dialog
			transition 1s all ease-in-out
			width 35%
			.el-dialog__header
				.el-dialog__title
					font-weight bold
			.el-dialog__body
				padding 0.7142857142857143rem 1.428571428571429rem
				.row.Fields
					padding 0 0.7142857142857143rem
					form[name="frm-meta-sala"]
						width 100%
						div[class^="col-"]
							.form-group
								margin-bottom 0.1rem
								div[class^="el-date-editor"]
									width auto
									input[type="text"]
										text-transform none
								input[type="text"]
									text-transform uppercase
								.el-select
									width 100%
								label
									display block
									font-weight bold

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
		
@media screen and (max-width: 640px)

	.layerFields
		padding: 5px 1px;
	.layerButtons
		margin-top 0.0714285714285714rem
		margin-bottom 0.0714285714285714rem
		padding 0.1428571428571429rem 1.428571428571429rem
		button 
			margin 3px auto !important
			width 80%
	#vModal
		.el-dialog__wrapper
			.el-dialog
				width 90% !important
			
@media screen and (max-width: 980px)
	
	#vModal
		.el-dialog__wrapper
			.el-dialog
				width 50%
// @media screen and (max-width: 1200px)