<div class="row">
	<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="form-group">
			<label for="">Descripción</label>
			<input type="text" 
				class="form-control form-control-sm"
				v-model="descripcion"
				autocomplete="off">
		</div>	
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3" >
		<div class="form-group">
			<label for="">Estado</label>
			<el-select v-model="estado" 
				placeholder="Seleccione"
				size="small"
				filterable
				clearable>
			    <el-option
			      v-for="item in list.list_estados"
			      :key="item.id"
			      :label="item.value"
			      :value="item.id">
			    </el-option>
			</el-select>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-6 col-md-3 col-lg-2">
		<button class="btn btn-sm btn-primary btn-block" 
			@click.prevent="handleSearch">
			<i class="fas fa-search"></i>
			Buscar
		</button>
	</div>
	{% if perms.catalogos.add_color %}
		<div class="col-12 col-sm-6 col-md-3 col-lg-2">
			<button class="btn btn-sm btn-success btn-block" 
				@click.prevent="handleAddItem">
				<i class="fas fa-plus-circle"></i>
				Agregar
			</button>
		</div>
	{%endif%}
	<div class="col-12 col-sm-6 col-md-3 col-lg-2">
		<button class="btn btn-sm btn-warning btn-block" 
			@click.prevent="handleClean">
			<i class="fas fa-backspace"></i>
			Limpiar
		</button>
	</div>
</div>